<!doctype html><html lang="en"><head><meta charset="utf-8"><meta content="IE=edge" http-equiv="X-UA-Compatible"><meta content="width=device-width,initial-scale=1" name="viewport"><title>ibooking</title><script defer="defer" src="/js/chunk-vendors.c6b0c6cc.js"></script><script defer="defer" src="/js/app.86134656.js"></script><link href="/css/chunk-vendors.0b0c58b7.css" rel="stylesheet"><link href="/css/app.6b8b815b.css" rel="stylesheet"></head><body><div id="app"></div></body><style>* {
        margin: 0 0;
        padding: 0 0;
    }

    html {
        height: 100%;
    }

    body {
        height: 100%;
    }</style></html>